body{
  font-family: Avenir, sans-serif;
  font-size: 1.3em;
}

header{
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}
header h1{
  text-align: left;
}

/* link styles */
a{
  text-decoration: none;
  color: #103a6d;
}

a:visited{
  color: #103a6d;
}

a:hover{
  text-decoration: underline;
  color: white;
}

header a:hover {
  text-decoration: none;
  color: #90beff;
}
/* nav styles */
nav{
  background-color: #90beff;
}
nav a {
  text-decoration: none;
  color: black;
}

nav a:visited{
  color: black;
}

nav a:hover{
  text-decoration: underline;
  color: #fff5eb;
}

nav ul {
  list-style-type: none;
  display: block;
  text-align: center;
  padding: 0;
  margin-top:0;
}

nav ul li {
  font-size: 1.1em;
  text-transform: lowercase;
  padding: .25em .5em;
}

nav ul li a {
  display: block;
  color: black;
}

/* footer styles */
footer{
  text-align: center;
  padding: 40px;
  background-color: #bbd7ff;
}
/* button styles */
button{
  color: black;
  background-color: white;
  font-family: Avenir, sans-serif;
  font-size: 1.2em;
  letter-spacing: .75px;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid #90beff;
}
button:hover{
  background-color: #90beff;
  cursor: pointer;
  opacity: 100%;
}



.header-left{
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  order: 1;
}

.logo{
  display: inline-block;
  position: relative;
  margin: .5em 1em;
}

.selected{
  text-decoration: underline solid 2px white;
}

.source-ham{
  display: flex;
  justify-content: space-between;
  order: 1;
}
.navi{
  order: 4;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  justify-content: center;
}


.hidden{
    display: none;
}
#hamburger, #close{
  color: #103a6d;
  background-color: #bbd7ff;
}
#hamburger:hover, #close:hover{
  background-color: #90beff;
  color: white;
}

/* home page css */

.carousel-main{
  display: flex;
  flex-direction: row;
  border-top: 2px solid #90beff;
  border-bottom:2px solid #90beff;
}
.slides img{
  width: 100%;
}
.dots{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
  opacity: 70%;
}
.active{
  background-color: #bbd7ff;
  color: blue;
}
.carousel button{
  border: none;

}
.content{
  padding-left: 5%;
  padding-right:5%;
}
.arrow{
  padding-bottom: 0;
  padding-top: 0;
  opacity: 70%;
}

.content q{
  padding-right: 5%;
  font-style: italic;
  font-size: 1.5em;
}

.content img{
  width: 100%;

}
.home{
  text-align: left;
  padding-left: 5%;
}
.home h2{
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}


/* why us mobile CSS */
h1, h2, h3{
    text-align: center;
}

.whyus-info{
    margin: 0px auto;
}

#comp-chart{
    width: 90%;
}

.figure{
    width:90%;
    margin: 10px auto;
    margin-bottom: 30px;
    max-width: 500px;
}

#cooking-diagram{
    width: 100%;
    margin: 0px auto;
}

#app-model{
    width: 100%;
}

.info-mobile{
    padding: 10px;
    margin: 0px auto;
    margin: 10px;
}

.wok{
    width: 100%;
}

/* Market css */
.marketSize, .industryOutlook, .laborCosts{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.marketSize, .industryOutlook, .laborCosts div{
    width: 95%;
}
.marketSize .graph img{
    width: 100%;
    height: auto;
}
.industryOutlook img{
    width: 100%;
}
.laborCosts img{
    width: 100%;
}
.graph{
    position: relative;
}
#TAM {
    position: absolute;
    width: 25%;
    top: 5.5%;
    bottom: 82.5%;
    left: 37.5%;
}
#SAM {
    position: absolute;
    width: 25%;
    top: 25.5%;
    bottom: 62.5%;
    left: 37.5%;
}
#SOM {
    position: absolute;
    width: 25%;
    top: 55.5%;
    bottom: 32.5%;
    left: 37.5%;
}
.textBox{
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: #ffffff;
    width: 90%;
}
.textBox p{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.founder {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.label {
  text-align:center;

}


.row {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 25px;
  display:block;
  text-align:center;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.founder-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  background-color: #ffbc98;

}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .hidden-m{
    display: none;
  }

}
/* 800px Dekstop Size*/
@media(min-width: 800px){
  .group {
    display:flex;
    justify-content: center;
  }

  .header-left{
    order: 0;
  }
  .source-ham{
    order:0;
  }
  .navi{
    order:0;
    flex-grow:0;
    flex-basis:auto;
  }
  nav ul{
    display: flex;
    flex-direction: row;

  }
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    /* margin-bottom: 20%; */
  }

  .content img{
    padding-left: 5%;
    min-width:40%;
  }

  .carousel{

    padding-left: 5%;
    padding-right: 5%;
  }

  #hamburger, #close{
    display: none;
  }

  #solution{
    display: flex;
    flex-direction: row;
  }

/* Why Us CSS desktop*/
  .unique{
        display:flex;
        margin:10px auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 90%;
        /* border: 2px solid; */
  }

  .whyus-info{
        width: 40%;
        margin: 10px;
  }

  #comp-chart{
        width: 100%;
  }

  .technology{
        margin: 0px auto;
        text-align: center;
        width: 90%;
        /* border: 2px solid; */
  }

  .figure{
        width: 60%;
        margin-bottom: 0px;
        margin: 10px;
  }

  .wok-flex{
        display: flex;
        justify-content:center;
        width: 90%;
        margin: 10px auto;
        margin-bottom: 30px;
  }

  .wok{
        height: 90%;
  }

  .cooking{
        width: 90%;
        margin: 0px auto;
        margin-bottom: 20px;
        max-width: 1500px;
  }

  .business-flex{
        display:flex;
        margin:10px auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 90%;
        /* border: 2px solid; */
  }

  .business-info{
        width: 40%;
        margin: 10px;
  }

  #app-model{
        width: 100%;
        margin: 20px;
  }

  .large{
        width: 65%;
        display: inline-block;
        margin: 0 auto;
        max-width: 650px;
        z-index: 3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
  }

  #cooking-popup{
      width: 95%;
      max-width: 1500px;
  }

  .light-item:hover{
        border: 5px solid;
        border-color:#90beff;
        cursor: pointer;
  }

  .dim{
        position: fixed;
        display: none;
        background-color: black;
        opacity: 0.9;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
  }

  .exit{
        z-index: 3;
        position: fixed;
        float: right;
        top: 0;
        right:0;
  }
/* market CSS */
    .marketSize, .industryOutlook,  .laborCosts{
        flex-direction: row;
    }

    .marketSize div.text{
        width: 70%;
    }
    .marketSize div.graph{
        margin-left: 10px;
        width: 30%;
    }
    .marketSize div.graph img{
        width: 100%;
        margin-left: 10px;
    }

    .industryOutlook div.text{
        width: 50%;
    }
    .industryOutlook img{
        width: 50%;
        margin-right: 10px;
    }

    .laborCosts img{
        width: 70%;
        margin-left: 10px;
    }

    .hidden{
      display: none;
    }



}
