body{
  font-family: Avenir, sans-serif;
  font-size: 1.1em;
}

header{
  display: flex;
  position: relative;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}
header h1{
  text-align: left;
}

/* link styles */
a{
  text-decoration: none;
  color: #103a6d;
}

a:visited{
  color: #103a6d;
}

a:hover{
  text-decoration: underline;
  color: white;
}

header a:hover {
  text-decoration: none;
  color: #90beff;
}
/* nav styles */
nav{
  background-color: #90beff;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:visited{
  color: black;
}

nav a:hover{
  text-decoration: underline;
  color: white;
  background-color: #83b6ff;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  align-content: center;
  padding: 0;
  margin-top:0;
  margin-bottom: 0;
}

nav ul li {
  font-size: 1.1em;
  text-transform: lowercase;
  padding: .25em .5em;
}

nav ul li a {
  display: block;
  color: black;
  padding: .25em;
  align-content: center;
}

/* footer styles */
footer{
  text-align: center;
  padding: 40px;
  background-color: #bbd7ff;
  margin-top: 40px;
}

/* button styles */
button{
  color: black;
  background-color: white;
  font-family: Avenir, sans-serif;
  font-size: 1.2em;
  letter-spacing: .75px;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid #90beff;
}

button:hover{
  background-color: #90beff;
  cursor: pointer;
  opacity: 100%;
}

/* header + nav bar styles */
.header-left{
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  order: 1;
}

.logo{
  display: inline-block;
  position: relative;
  margin: .5em .5em;
}

.selected{
  text-decoration: underline solid 2px white;
}

.source-ham{
  display: flex;
  justify-content: space-between;
  order: 1;
  align-content: center;
}
.navi{
  order: 4;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 1.1em;
}

#hamburger, #close{
  color: #103a6d;
  background-color: #bbd7ff;
  font-size: 1.5em;
  padding: 18px 25px;
  align-self: center;
}

#hamburger:hover, #close:hover{
  background-color: #90beff;
  color: white;
}

.hidden{
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* home page css */

.carousel-main{
  display: flex;
  flex-direction: row;
  border-top: 2px solid #90beff;
  border-bottom:2px solid #90beff;
}
.slides img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.dots{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
  opacity: 70%;
}
.active{
  background-color: #bbd7ff;
  color: blue;
}
.carousel button{
  border: none;
}
.arrow{
  opacity: 70%;
  padding-bottom: 0;
  padding-top: 0;
}

.content{
  padding-left: 5%;
  padding-right:5%;
}

.content q{
  padding-right: 5%;
  font-style: italic;
  font-size: 1.5em;
}

.content img{
  width: 100%;
}

.home{
  text-align: left;
  padding-left: 5%;
}
.home h2{
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* our tech mobile CSS */
h1, h2, h3{
    text-align: center;
}

.whyus-info{
    margin: 0px auto;
}

.figure{
    width:90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

figcaption{
    font-size: 80%;

}

#comp-chart{
    width: 100%;
}

#cooking-diagram{
    width: 100%;
    margin: 0px auto;
}

#app-model{
    width: 100%;
}

#labor-comparison{
    width: 100%;
}

.info-mobile{
    padding: 10px;
    margin: 0px auto;
    margin: 10px;
}

.business-info ul{
    list-style-position: outside;
    padding: 5px;
    margin: 10px;
}

.wok{
    width: 100%;
}

.wok-outer{
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.large{
    display: inline-block;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.vertical{
    top: 0;
    display: flex;
    width: 90%;
    margin: 0 auto;
    z-index: 3;
    position:fixed;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}

#cooking-div{
    top: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    position:fixed;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#cooking-popup{
    width: 95%;
    margin: 0 auto;
    max-width: 1500px;
    padding-right: 25px;
}

.dim{
      position: fixed;
      display: none;
      background-color: black;
      opacity: 0.9;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
}

.exit{
      z-index: 4;
      position: fixed;
      float: right;
      top: 0;
      right:0;
}

/* ourfuture */
    .carousel-main{
      justify-content: center;
    }

    .caq, .milestone{
      font-size: 23px;
      font-weight: bold;
    }

    .timeline{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 50px;
    }
    .timelineframe{
      margin: 0 auto;
      width: 33%;
    }

    .timelinetitle{
      font-weight: bold;
      font-size: 22px;
    }

    .investp{
      margin: 50px;
    }

    .investp p{
      text-align: center;
      margin: 50px;
    }

    .testrest{
      display: flex;
      flex-direction: row;

    }

/* industry css */
.marketSize, .industryOutlook, .competition{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.conclusion{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.marketSize, .industryOutlook, .competition, .conclusion div{
    width: 95%;
}
.marketSize .diagram img{
    width: 100%;
    height: auto;
}
.industryOutlook img{
    width: 100%;
}
.competition img{
    width: 100%;
}
.diagram{
    position: relative;
}
#TAM {
    position: absolute;
    width: 25%;
    top: 5.5%;
    bottom: 82.5%;
    left: 37.5%;
}
#SAM {
    position: absolute;
    width: 25%;
    top: 25.5%;
    bottom: 62.5%;
    left: 37.5%;
}
#SOM {
    position: absolute;
    width: 25%;
    top: 55.5%;
    bottom: 32.5%;
    left: 37.5%;
}
.hidden-text{
    display: none;
}
/*Team CSS*/
.founder {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.label {
  text-align:center;

}


.row {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 25px;
  display:block;
  text-align:center;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.4);
}

.popup-content {
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  height: 100%;
  background-color: #bbd7ff;

}

.close {
  text-align:right;
}

.close:hover {
  color: white;
  cursor: pointer;
}





.name:hover {
  text-decoration: underline;
  color: white;
  background-color: #83b6ff;
  cursor: pointer;
}

.hidden {
  display:none;
}

@media screen and (min-width: 555px) {
  .title{
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1200px) {

  .hidden-m{
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

}

@media screen and (min-width: 1200px) {
  body{
    font-size: 1.3em;
  }
  .header-left{
    order: 0;
  }
  .source-ham{
    order:0;
  }
  .navi{
    order:0;
    flex-grow:0;
    flex-basis:auto;
  }
  .selected{
    text-decoration: underline solid 2px #90beff;
  }
  nav{
    background-color: white;
  }
  nav ul{
    display: flex;
    flex-direction: row;
  }
  #hamburger, #close{
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}



    @media(max-width: 900px){
      .timeline{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px;
      }
      .timelineframe{
        margin: 0 auto;
        width: 60%;
        margin: 0 auto;
      }
      .timelinetitle{
        font-weight: bold;
        font-size: 22px;
      }
      .testrest{
        display: flex;
        flex-direction: column;
        font-size: 18px;
      }

    }
/* 800px Dekstop Size*/
@media(min-width: 800px){
  .group {
    display:flex;
    justify-content: center;
  }

  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .content img{
    min-width:40%;
  }

  .carousel{
    padding-left: 5%;
    padding-right: 5%;
  }



  #solution{
    display: flex;
    flex-direction: row;
  }

/* our tech CSS desktop*/

  .whyus-info{
        width: 40%;
        margin: 10px;
  }

  #comp-chart{
        width: 100%;
  }

  .technology{
        margin: 0px auto;
        text-align: center;
        width: 90%;
  }

  .figure{
        width: 60%;
        margin-bottom: 0px;
        margin: 10px;
  }

  .wok-flex{
        display: flex;
        justify-content:center;
        width: 90%;
        margin: 10px auto;
        margin-bottom: 30px;
  }

  .wok{
        height: 90%;
  }

  .cooking{
        width: 90%;
        margin: 0px auto;
        margin-bottom: 20px;
        max-width: 1500px;
  }

  .business-flex{
        display:flex;
        margin:10px auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 90%;
  }

  .business-info{
        width: 40%;
        margin: 10px;
  }

  #app-model{
        width: 100%;
  }

  .labor-flex{
      display:flex;
      flex-direction: row-reverse;
      margin:10px auto;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 90%;
  }

  .labor-info{
      width: 40%;
      margin: 10px;
  }

  .large{
      width: 100%;
      display: inline-block;
      max-width: 550px;

  }

  .vertical{
      top: 0;
      display: flex;
      width: 65%;
      margin: 0 auto;
      z-index: 3;
      position:fixed;
      height: 100%;
      align-items: center;
      justify-content: center;

  }

  #cooking-div{
      top: 0;
      display: flex;
      width: 100%;
      margin: 0 auto;
      z-index: 3;
      position:fixed;
      height: 100%;
      align-items: center;
      justify-content: center;
  }

  #cooking-popup{
      width: 95%;
      margin: 0 auto;
      max-width: 1500px;
      padding-right: 25px;
  }

  .light-item:hover{
        border: 5px solid;
        border-color:#90beff;
        cursor: pointer;
  }

  .dim{
        position: fixed;
        display: none;
        background-color: black;
        opacity: 0.9;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
  }

  .exit{
        z-index: 4;
        position: fixed;
        float: right;
        top: 0;
        right:0;
  }

/* market CSS */
    .industryOutlook,  .competition{
        flex-direction: row;
    }
    .conclusion{
        max-width: 800px;
    }
    .industryOutlook div.text{
        width: 50%;
    }
    .industryOutlook img{
        width: 50%;
        margin-right: 10px;
    }
    .competition div.text{
        width: 50%;
    }
    .competition img{
        width: 50%;
        margin-left: 10px;
    }

    .marketSize{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .marketSize .seen{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .marketSize .seen .div{
        width: 50%;
    }
    .marketSize .diagram{
        margin-left: 10px;
        width: 100%;
    }




}
