body{
    font-family: sans-serif;
}

.hidden{
    display: none;
}

/* why us CSS */
h1, h2, h3{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

.whyus-info{
    /* width: 90%; */
    margin: 0px auto;
}

#comp-chart{
    width: 90%;
}

.figure{
    width:90%;
    margin: 10px auto;
    margin-bottom: 30px;
}

#cooking-diagram{
    width: 100%;
    margin: 0px auto;
}

#app-model{
    width: 100%;
}

.info-mobile{
    /* width: 100%; */
    padding: 10px;
    margin: 0px auto;
    margin: 10px;
}

.wok{
    width: 100%;
}

/* Market css */
.marketSize, .industryOutlook,  .laborCosts{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.marketSize, .industryOutlook, .laborCosts div{
    width: 95%;
}
.marketSize .graph img{
    width: 100%;
}
.industryOutlook img{
    width: 100%;
}
.laborCosts img{
    width: 100%;
}
/* 800px Dekstop Size*/
@media(min-width: 800px){
    .unique{
        display:flex;
        margin:10px auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 90%;
        /* border: 2px solid; */
    }

    .whyus-info{
        width: 40%;
        margin: 10px;
        padding: 10px;
    }

    #comp-chart{
        width: 100%;
        max-width: 600px;
    }

    .technology{
        margin: 0px auto;
        text-align: center;
        width: 90%;
    }

    .figure{
        width: 60%;
        margin-bottom: 0px;
        margin: 10px;
    }

    .wok-flex{
        display: flex;
        justify-content:center;
        width: 90%;
        margin: 10px auto;
    }

    .wok{
        height: 90%;
    }

    .cooking{
        width: 90%;
    }

    .business-flex{
        display:flex;
        margin:10px auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 90%;
        /* border: 2px solid; */
    }

    .business-info{
        width: 40%;
        margin: 10px;
        padding: 10px;
    }

    #app-model{
        width: 100%;
        max-width: 600px;
        margin: 10px;
    }

    .marketSize, .industryOutlook,  .laborCosts{
        flex-direction: row;
    }

    .marketSize div.text{
        width: 70%;
    }
    .marketSize div.graph{
        margin-right: 10px;
        width: 30%;
    }
    .marketSize div.graph img{
        width: 100%;
    }

    .industryOutlook div.text{
        width: 50%;
    }
    .industryOutlook img{
        width: 50%;
        margin-left: 10px;
    }

    .laborCosts img{
        width: 70%;
        margin-right: 10px;
    }
}
